// variabel
$emerald-5 : #10B981;
$red-5 : #EF4444;
/* Text */
.text {

    // color
    // Emerald
    &-emerald-5 {
        color: $emerald-5;
    }

    // Red
    &-red-5 {
        color: $red-5;
    }

}